/* commitment.css */

.commitment {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.commitment-item:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-md-4 {
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
  
}

.commitment .card-img {
  height: 40%; /* Set the desired uniform height */
  object-fit: cover; /* Ensures the image fills the height without distortion */
  width: 100%; /* Ensures the image spans the full width of the Card */
}

.commitment-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  height: 95%; /*This is important to make all commitment items the same height */
  width: 100%;
  background-color: #f0f0f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commitment .card-title{
  font-size: 1.4em;
  color: #495a52;
  text-align: center;
  padding: 4%;
}

.commitment .commit {
  text-align: center;
  color: #495a52;;
  padding: 2.5%;
}

.commitment-item h3 {
  font-size: 1.5em;
  color: #111111;
  text-align: center;
  padding: 4%;
}

.commitment-item p {
  font-size: 1.2em;
  color: #261f1f;
  
}



/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
  .col-md-4 {
    width: 100%; /* Full width for small screens */
  }
}
