.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 12vh;
  /* background-color: #a1ecd1; */
  /* box-shadow: 0 0 10px rgba(73, 112, 112, 0.1); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
    
}

.nav-link{
  color: #fff;
  display: block;
  font-size: 0.7rem;
  text-decoration: none;
  margin: 0 2.5rem;
  transition: color 0.3s ease-in-out;
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 20px;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  transition: .5s;
  z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #766bc7;
        border-bottom: 2px solid #5df049;
        transform: scaleY(2);

        opacity: 0;
        transition: .3s;
      }
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #5ed4e7;
        transform: scale(0);
        border-radius: 50%;
        opacity: 0;
        transition: .3s;
        z-index: -1;
      }
      &:hover {
        color: #ffffff;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }

.logo img{
 border-radius: 30px;
 animation: rotateLogo 5s linear infinite;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  /* box-shadow: 10px 5px 10px rgba(40, 92, 92, 0.1); */
  will-change: filter;
  transition: filter 300ms;
  transition: filter 0.9s ease-out, background-color 0.9s ease-out;
}

.logo img:hover {
    filter: drop-shadow(0 0 2em #6de7acf0);
  }
  
  .logo.react img:hover {
    filter: drop-shadow(0 0 2em #864ae6aa);
  }
  
  @keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }