.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/* In your home.css */
.donate-button {
  /* Existing styles... */
  text-decoration: none; /* Remove the underline from the link */
  display: inline-block; /* Allow padding and width/height to be set */
}

.background-image.show {
  opacity: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  min-height: 70vh; /* Full height */
  text-align: center;
  color: white;
}

.date-time {
  position: absolute; /* Or use 'fixed' if you want it to stay on screen when scrolling */
  top: 50px; /* Adjust to be just below the navbar (change based on navbar height) */
  right: 80px; /* Adjust space from the right side */
  font-size: 1.2rem; /* Adjust size */
  font-weight: bold;
  color: #ffffff; /* Adjust color if needed */
}

.donate-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.donate-button:hover {
  background-color: #b30000;
}
