.navbar {
  background-color: #427D9D;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.5rem;
  color: white;
  border: none;
  background: none;
  width: 20px !important;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 80px;
}

.navbar .logo img {
  border-radius: 50%;
  margin-left: 80px;
}

.navbar .brand-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 15%;
}

.navbar .brand-info h4 {
  color: white;
  font-family: 'Josefin Sans', serif;
  font-size: 150%;
  margin-right: 20%;
}

.navbar .env-badge {
  background-color: #e9d555 !important;
  color: white;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  background-color: #DDF2FD;
  border-radius: 5px;
}

.navbar-nav .nav-dropdown .dropdown-menu {
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(110, 206, 211, 0.1);
}

.navbar-nav .nav-dropdown .dropdown-item:hover {
  background-color: #458466;
}

@media (max-width: 760px) {
  .navbar-collapse {
    background-color: #41a84b;
    padding: 10px;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
  }
  .navbar-nav {
    display: block;
    width: 100%;
  }
  .navbar-nav .nav-link {
    padding: 10px 15px;
    text-align: center;
    width: 100%;
  }
}