<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="ticfoundation.app_backend.domain.User" alias="User"/>
    </typeAliases>
    <mappers>
        <mapper class="ticfoundation.app_backend.mapper.UserMapper"/>
    </mappers>
</configuration>